# Comments are added for my understanding 
PORT=
BASE_URL=


MONGO_URI=

MAILTRAP_HOST=
MAILTRAP_PORT=
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=
MAILTRAP_SENDEREMAIL=


GOOGLE_HOST=
GOOGLE_PORT=
GOOGLE_USERNAME=
GOOGLE_PASSWORD=
ACCESS_TOKEN_EXPIRY=
ACCESS_TOKEN_SECRET=

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=